


.douleia {
  
  max-width: 770px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px;
}



ul {

  color: #fff;
  background: #66023c;
  
  max-width: 770px;
  list-style-type: circle;
  font-size: 1rem;
  font-weight: lighter;
  text-align: left;
  
  padding: 1.736842105263158em 11% 1.736842105263158em;
  margin: auto 33px 33px;
  
  border-radius: 10px;
  
  box-shadow: -7px 7px 22px -19px #0c0c0a;
  
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

@media only screen and (max-width: 500px) {
  ul {
    
    padding: 22px 33px 22px;
    
    margin: auto 0 33px;
  }
}

ul:hover {
  
  box-shadow: -3px 6px 22px -12px #0c0c0a;
  
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media only screen and (max-width: 500px) {
  
  ul:hover: {
    
    box-shadow: transparent;
  }
}



.douleia_mathitwn {

  max-width: 1270px;
  min-width: 5px;
  margin: 3px auto 0px;
  padding: 12px 0px 12px;
  text-align: center;
}



.deigma_douleia_mathitwn {

  background-color: #fbfbfb;
  
  display: inline-block;
  margin: 12px auto 12px;
  padding: 42px 7px 42px;
  text-align: center;
  
  border-radius: 10px;
  
  box-shadow: 0 -7px 28px -33px #000;
}



.img_mathiti_daskalou {

  width: 190px;
  height: 280px;
  border: 3px #66023c solid;
  border-radius: 5px;
  box-shadow: -7px 1px 6px 0px rgba(0, 0, 0, 0.1);
  margin: 0 1px;
  padding: 0;
}

@media only screen and (max-width: 416px) {
  .img_mathiti_daskalou {

    width: 160px;
    height: 236px;
  }
}



#finalp {
  
  text-align: left;
  
  background-color: transparent;

  margin: 0 auto;
  padding: 33px 24px 33px;

  border-top: 1px hidden;
  border-bottom: 5px hidden;
  border-left: 1px hidden;
  border-right: 1px inset; 
  
  border-color: #4166f5;
  border-radius: 2px;
  
  box-sizing: border-box;
  
  max-width: 650px;
  
  box-shadow: -10px 12px 33px -33px #c1b2c1;
}

@media only screen and (max-width: 500px) {
  
  #finalp {
    
    text-align: left;
    
    padding: 22px 7px 22px;
  }
}



